extends layout

block content
  .jumbotron
    h1 WASS - Menú de Clientes
  .row
    .col-md-4
      h2 Buscar Cliente
      p Search by DNI-CUIL or lastname.
      p
        a.btn.btn-default(href='http://www.anses.gob.ar/') Buscar &raquo;
    .col-md-4
      h2 Nuevo Cliente
      p Add new.
      p
        a.btn.btn-default(href='/crearCliente') Nuevo &raquo;
    .col-md-4
      h2 Listado completo
      p List of clients.
      p
        a.btn.btn-default(href='/clientesLista') Ver lista &raquo;

   