extends layout
block content
            h1= "Crear cliente"
            block content.form
            form(method='post', name='', action='/clienteNuevoCreado')
                     
                        table.form_table(cellspacing='5', cellpadding='5', border='0')
                                                tbody 
                                                            tr 
                                                                        td.label Nombre:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="nombre", id="nombre")
                                                            tr 
                                                                        td.label Apellido:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="apellido", id="apellido")
                                                            tr 
                                                                        td.label DNI-CUIL:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox',placeholder='Sólo números sin -' name="dniCuil", id="dniCuil")
                                                            tr
                                                                        td.label Clave Fiscal:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="claveFiscal", id="claveFiscal")
                                                            tr
                                                                        td.label Mail:
                                                                        td          
                                                                                    input.form-control(rows='5', type='email', placeholder='direccion@email.com', class='email', name="mail", id="mail")
                                                            tr
                                                                        td.label Telefono:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="tel1", id="tel1")
                                                            tr
                                                                        td.label Contacto alternativo:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="tel2", id="tel2")
                                                            tr
                                                                        td.label Tipo de trámite:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="tipoTramite", id="tipoTramite")
                                                            tr
                                                                        td.label Lo tramita:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="loTramita", id="loTramita")
                                                            tr
                                                                        td.label De parte de:
                                                                        td
                                                                                    input.form-control(rows='5', class='textbox', name="deParteDe", id="deParteDe")

                                                            tr
                                                                        td
                                                                                    block content.endForm
                                                                                    a.btn.btn-danger.btn-large(align='right', href='/clientesLista' alt='Cancelar alta de cliente')&laquo; Cancelar 
                                                                                    td 
                                                                                        input.btn.btn-success.btn-large(type='submit', value='Guardar cliente',id="createButton")
                
      
            
                                                         
                        