extends layout

block content
  .jumbotron
    h1 Agregaste un cliente al WASS
    p.lead WASS tiene un nuevo cliente.
    p

      a.btn.btn-primary.btn-large(href='/') &laquo; Menú Principal 
      b &nbsp;
      a.btn.btn-success.btn-large(href='/crearCliente') Añadir otro
      b &nbsp;
      a.btn.btn-primary.btn-large(href='/clientesLista') Ver lista de Clientes &raquo;

