extends layout

block content
  .jumbotron
    h1 Eliminaste un cliente del WASS
    p.lead WASS tiene un  cliente menos.
    p
      
      b 
      a.btn.btn-primary.btn-large(href='/') &laquo; Menú principal  
      b &nbsp; 
      a.btn.btn-primary.btn-large(href='/clientesLista') Lista de Clientes &raquo;
